/* resets */
html {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: inherit;
}

body {
  background-color: #d9d9d9;
}

.wrapper {
  width: 400px;
  margin: 100px auto;
}

.buckets {
  overflow: hidden;
  border-radius: 30px;
  background-color: #fff;
}

.title {
  color: #ff1493;
  padding: 40px 0;
  border-bottom: 4px solid #ddd;
}

.title h1 {
  font-size: 1.5em;
  line-height: 1;
  border-left: 10px solid;
  padding-left: 20px;
}

.list-container {
  height: 331px;
  text-align: center;
  background-color: #efefef;
}
