/* resets */
html,
body,
h1 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #d9d9d9;
}

.wrapper {
  width: 400px;
  margin: 100px auto;
}

.buckets {
  overflow: hidden;
  border-radius: 30px;
  background-color: #fff;
}

.title {
  padding: 40px 0;
  border-bottom: 4px solid #ddd;
}

h1 {
  color: #ff1493;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
}

h1::before {
  content: ' ';
  display: inline-block;
  vertical-align: bottom;
  width: 10px;
  height: 24px;
  background-color: #ff1493;
  margin-right: 10px;
}

.list-container {
  height: 331px;
  text-align: center;
  background-color: #efefef;
}
