/* Reset */
h1,
p {
  margin: initial;
}

.wrapper {
  text-align: center;
}

.animalLeft,
.animalMiddle,
.animalRight {
  display: inline-block;
  width: 300px;
}

.animalLeft,
.animalRight {
  margin: 150px 100px 100px;
}

.animalMiddle {
  vertical-align: top;
}

.animal-img,
.green-img {
  display: block;
}

.animal-desc {
  box-sizing: border-box;
  background-color: #995e31;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5px 15px 20px;
  box-shadow: 0 10px #64330d;
  text-align: start;
}

.animal-desc h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1345px) {
  .animalLeft,
  .animalMiddle,
  .animalRight {
    display: block;
    margin: 100px auto;
  }
}
