<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <% include ./layout/navbar.ejs %> <% if(true) {%>
    <div>ejs is working</div>
    <% } else {%>
    <div>ejs is not working</div>
    <%}%>
    <div>data: <%= data %></div>
  </body>
</html>
