/* Resets */
h1,
h2,
p {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  background: url('./images/background.gif') no-repeat;
  background-size: cover;
}

/* wrapper */
.wrapper {
  width: 800px;
  margin: 40px auto;
  background: pink;
}

/* header */
.header {
  text-align: center;
  padding: 100px 0 60px;
  background: url('./images/cover04.png') no-repeat;
  background-size: cover;
}

.profileImg {
  width: 150px;
  height: 150px;
  border: 5px solid #fff;
  border-radius: 50% / 30%;
}

.name,
.role {
  color: #fff;
}

.name {
  margin-bottom: 15px;
  font-size: 72px;
  font-weight: bold;
}

.role {
  width: fit-content;
  margin: 0 auto;
  padding: 5px 15px;
  border-top: 5px solid #fff;
}

/* contents */
.contents {
  width: 760px;
  padding: 20px;
  background: rgb(230, 230, 230);
}

.section {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  background-position: right 30px center;
  background-repeat: no-repeat;
}

.info h2,
.skills h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ff1493;
}

.info ul,
.skills ul {
  border-left: 3px solid lightgray;
  margin: 15px 0 10px;
}

.info {
  background-image: url('./images/icon-information.png');
}

.skills {
  background-image: url('./images/icon-skills.png');
}

.info li,
.skills li {
  color: gray;
  padding-left: 10px;
}

.info li:hover,
.skills li:hover {
  color: #ff9dd1;
}

/* footer */
.footer {
  padding: 20px 0;
  text-align: center;
  background-color: white;
}

.sns {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 40px;
  border: 4px solid;
  color: #ebebeb;
  background-color: none;
}

.github:hover {
  border-color: inherit;
  color: limegreen;
}

.facebook:hover {
  color: rgb(71, 71, 255);
  border-color: inherit;
}

.contact:hover {
  color: black;
  border-color: inherit;
}
