* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body,
h1,
h2,
h3 {
  margin: 1rem;
}

section {
  padding: 2rem;
  background-color: rgba(236, 236, 236, 0.973);
}

p {
  margin: 1rem;
}

a:hover {
  cursor: pointer;
  text-decoration: solid underline blue;
}
