.product {
  display: flex;
  justify-content: center;
  margin-top: 160px;
  padding-bottom: 156px;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  max-width: 1260px;
  margin-right: 60px;
}

@media screen and (max-width: 768px) {
  .product-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 389px;
    margin-right: 0;
  }
}
